* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.594);
}

/* DASHBOARD CSS PAGE  */

.DashH1 {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #34C759;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    display: inline-block;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
}


.DashAction {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
    color: #34C759;
    /* Vert moderne pour le texte */
    font-weight: bold;
    padding: 20px;
    background-color: #ECF9EC;
    /* Arrière-plan vert clair pour un contraste doux */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.DashLinkContainer {
    margin: 10px;
    text-align: center;
    margin-top: 50px;
}

.DashLink {
    text-decoration: none;
    color: #34C759;
    /* Vert moderne pour les liens */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent;
}

.DashLink:hover {
    color: #FFFFFF;
    background-color: #34C759;
    border-radius: 8px;
    transform: translateY(-2px);
}

.DashLink:focus {
    outline: none;
    border-color: #34C759;
}

.DashLink:active {
    transform: translateY(1px);
}

.navigation-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.link-dashboard,
.link-employee-list {
    padding: 12px 24px;
    background-color: #ECF9EC;
    color: #34C759;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.link-dashboard:hover,
.link-employee-list:hover {
    background-color: #34C759;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}







/* FORMULAIRE CSS  */



.FormSuperContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.FormTitle {
    font-size: 40px;
    padding: 15px 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #34C759;
    border-radius: 15px;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.FormContainer {
    background-color: #ECF9EC;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.FormLabel {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2C662D;
}

.FormInput,
.FormSelect {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #34C759;
    box-sizing: border-box;
}

.FormInput:focus,
.FormSelect:focus {
    outline: none;
    border-color: #1A472A;
}


.FormButton {
    background-color: #34C759;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    align-self: center;
    margin-top: 15px;
}

.FormButton:hover {
    background-color: #2C662D;
}




/* LISTE DES EMPLOYEES CSS  */
.TableSuperContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}


.TableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ECF9EC;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
}

.TableTitle {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #34C759;
    padding: 15px 10px;
    border-radius: 15px;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stylisation du DataTable */
.DataTable {
    font-family: 'Poppins', sans-serif;
    /* Assure-toi que cette police est importée dans ton projet */
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.DataTable thead {
    background-color: #34C759;
    color: #FFFFFF;
    font-size: 25px;
}

.DataTable th,
.DataTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* Lignes subtiles entre les rangées */
}

.DataTable tbody tr:hover {
    background-color: #f5f5f5;
    /* Survol avec un léger changement de couleur */
}

.DataTable-pagination {
    padding: 10px;
    background-color: #f9f9f9;
    /* Fond pour la pagination, ajuste au besoin */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    /* Espace au-dessus de la pagination */
}









.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}